
/* CSS para el Modal de Imagen */
.image-modal {
  display: none; /* Oculto por defecto */
  position: fixed; /* Posición fija para cubrir toda la pantalla */
  z-index: 1000; /* Asegurar que esté por encima de todo */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Habilitar scroll si la imagen es muy grande */
  background-color: rgba(0,0,0,0.9); /* Fondo negro semitransparente */
  padding-top: 60px;
}

.image-modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.image-modal-caption {
  margin: 10px auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.image-modal-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.image-modal-close:hover,
.image-modal-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px){
  .image-modal-content {
    width: 100%;
  }
}
